<div class="custom-calendar">
    <div class="left-panel">
        <div class="calendar-menu">
            <button class="align-left">{{monthNames[this.getCurrentDate().getMonth()]}} {{this.getCurrentDate().getFullYear()}}</button>
            <button class="align-right" (click)="setNextMonth()">Next</button>
            <button class="align-right" (click)="setPreviousMonth()">Prev</button>
            <button class="align-right" (click)="setCurrentMonth()">Today</button>
            <!-- TODO: add a plus, fix bottom margin -->
            <button class="align-right" mat-raised-button (click)="openDialog()"> New Item</button>
        </div>
        <table class="calendar-table" *ngIf="calendarDays">
            <thead>
                <tr>
                    <th>Sunday</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let currentWeek of calendarDays | week; let i = index">
                    <td class="calendar-day" [ngClass]="{'past-date': calendarDay.isPastDate, 'today': calendarDay.isToday, 'has-vacation': calendarDay.hasVacation}" *ngFor="let calendarDay of currentWeek; let j = index">
                        <div class="calendar-day-header" [ngClass]="{'blue-date': calendarDay.isToday}">
                            <strong>{{calendarDay.date.getDate()}} </strong>
                            <strong *ngIf="calendarDay.isToday || (i==0 && j==0) || calendarDay.date.getDate() == 1">{{monthNames[calendarDay.date.getMonth()]}}</strong>
                            <div class="user-initials">
                                <!-- TODO: move it to the bottom -->
                                <p *ngFor="let userInitials of calendarDay.getUsersInitials()">
                                    {{userInitials}}
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="right-panel">
        <label>Vacations:</label>
        <ul>
            <li *ngFor="let user of users">
                <span (click)="onUserSelected(user.id)">{{user.firstName}} {{user.lastName}}</span>
            </li>
        </ul>
    </div>
</div>
