<div class="custom-calendar">

    <div class="calendar-menu">
        <button class="align-left">{{monthNames[this.currentDate.getMonth()]}} {{this.currentDate.getFullYear()}}</button>
        <button class="align-right" (click)="setNextMonth()">Next</button>
        <button class="align-right" (click)="setPreviousMonth()">Prev</button>
        <button class="align-right" (click)="setCurrentMonth()">Today</button>
        <!-- TODO: add a plus, fix bottom margin -->
        <button class="align-right"> New Item</button>
    </div>
    <table class="calendar-table" *ngIf="calendarDays">
        <thead>
            <tr>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let currentWeek of calendarDays | week; let i = index">
                <td class="calendar-day" [ngClass]="{'past-date': calendarDay.isPastDate, 'today': calendarDay.isToday, 'has-vacation': calendarDay.hasVacation}" *ngFor="let calendarDay of currentWeek; let j = index">
                    <div class="calendar-day-header" [ngClass]="{'blue-date': calendarDay.isToday}">
                        <strong>{{calendarDay.date.getDate()}} </strong>
                        <strong *ngIf="calendarDay.isToday || (i==0 && j==0) || calendarDay.date.getDate() == 1">{{monthNames[calendarDay.date.getMonth()]}}</strong>
                        <div class="user-initials">
                            <!-- TODO: move it to the bottom -->
                            <p *ngFor="let userInitials of calendarDay.getUsersInitials()">
                                {{userInitials}}
                            </p>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
